html {
  box-sizing: border-box;
  font-family: "Crimson Text", regular;
  color: #222;
  line-height: 1.3rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

article header {
  line-height: 0;
  margin: 0;
}

article p {
  line-height: 1.3em;
  font-size: 1rem;
  margin-bottom: 0;
}

article h1 {
  font-weight: normal;
  padding-bottom: .1em;
  margin-bottom: .1em;
}

article header p {
  font-style: italic;
  color: #555;
  border-bottom: 2px solid #999;
  padding-top: 0;
  padding-bottom: 1.3em;
}

blockquote {
  color: #999;
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1.3em;
}

.quote {
  color: #999;
  line-height: 1.3rem;
  margin-bottom: 1.3em;
}

article ol {
  padding-left: 1em;
  line-height: 1.3em;
}

article {
  border-bottom: 2px solid #999;
  margin-bottom: 1.3rem;
}
